/* Table of Contents
    - Variables
    - Mixins
    - General
        - Background
        - Video Section
        - Buttons
        - Card Display
    - Characters
        - Artem
        - Luke
        - Marius
        - Vyn
*/

/*************
  Variables
*************/
$text-color: rgb(0, 0, 0);
$artem-background: rgb(217, 159, 158);
$artem-card-banner: rgb(206, 89, 87);
$luke-background: rgb(253, 233, 180);
$luke-card-banner: rgb(243, 202, 89);
$marius-background: rgb(181, 176, 208);
$marius-card-banner: rgb(113, 99, 192);
$vyn-background: rgb(180, 202, 189);
$vyn-card-banner: rgb(89, 168, 122);


/*************
    Mixins
*************/

@mixin autoLeftRightMargin {
    margin-left: auto;
    margin-right: auto;
}

@mixin columnFlex {
    display: flex;
    flex-direction: column;
}

/*************
    General
*************/

// Background

.character-logo {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-20%, 20%);
    height: 80%;
    filter: brightness(30%) opacity(0.2);
    z-index: 1;
}

// Video Section

.video-container {
    @include autoLeftRightMargin();
    width: 640px;
    height: 360px;
    margin-top: 5%;
    z-index: 1;
    position: relative;

    iframe {
        width: 100%;
        height: 100%;
    }
}

// Buttons

.button-row {
    @include autoLeftRightMargin();
    display: flex;
    justify-content: space-around;
    width: 600px;
    margin-top: 40px;
    position: relative;
    z-index: 2;

    button {
        width: 100px;
        cursor: pointer;
    }

    .button-text {
        height: 30px;
        width: auto;
    }
}

// Card Display

.ssr-cards,
.mr-cards,
.sr-cards,
.r-cards {
    @include columnFlex();
    position: absolute;
    right: 0;
    bottom: 6%;
    width: 300px;
    height: 625px;
    scroll-snap-type: y mandatory;
    flex-basis: 50%;
    margin-top: 10px;
    margin-right: 2%;
    overflow-y: scroll;
}

.card {
    @include columnFlex();
    scroll-snap-align: start;
    width: 290px;
    margin: 5px;
    color: $text-color;
    text-align: center;
    font-size: 24px;
}

.r-bumper {
    margin-bottom: 15px;
}

.card-img {
    width: 100%;
    height: auto;
}

/*************
  Characters
*************/

.red-background,
.yellow-background,
.purple-background,
.green-background {
    width: 100vw;
    height: 100vh;

    #button {
        position: relative;
        margin-top: 110px;
        margin-left: 30px;
    }
}

.artem-card-title,
.luke-card-title,
.marius-card-title,
.vyn-card-title {
    font-size: 20px;
    letter-spacing: 0.1em;
    transform: translateY(10px);
}

.artem-call-line,
.luke-call-line,
.marius-call-line,
.vyn-call-line {
    transform: translateY(-28px);
}

// Artem

.red-background {
    background-color: $artem-background;
}

.artem-card-title,
.artem-call-line {
    background-color: $artem-card-banner;
}

// Luke

.yellow-background {
    background-color: $luke-background;
}

.luke-card-title,
.luke-call-line {
    background-color: $luke-card-banner;
}

// Marius

.purple-background {
    background-color: $marius-background;
}


.marius-card-title,
.marius-call-line {
    background-color: $marius-card-banner;
}

// Vyn

.green-background {
    background-color: $vyn-background;
}

.vyn-card-title,
.vyn-call-line {
    background-color: $vyn-card-banner;
}